@import '../../../../styles/variables';

.storyLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.storyLink:hover {
  text-decoration: underline;
}

.story-container {
  display: block;
  padding: 10px;
}

.domain {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
  img {
    padding: 5px;
  }
}

.grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50px auto;
  grid-auto-rows: auto;
  max-width: 100vw;
}

.domain-wrapper {
  display: inline-block;
}

.story-domain {
  grid-column: 2;
  grid-row: 1;
  padding: 0px 5px 0px 5px;
  a {
    text-decoration: none;
  }
}

.points {
  grid-column: 1;
  grid-row: 1 / 4;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: middle;
  padding-right: 5px;
  border-right: 1px solid grey;
}

.point-text {
  font-size: 10px;
}

.score {
  font-weight: bold;
  font-size: 1.1rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-header {
  // grid-area: header;
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
}

.story-sub-header {
  // grid-area: subheader;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  div {
    min-width: 50px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    align-content: center;
    @media (max-width: #{$tabWidth - 1px}) {
      font-size: 0.8rem;
    }
    img {
      padding-right: 5px;
    }
  }
}

.story-comments {
  cursor: pointer;
}
