<mat-card *ngIf="storyItem" class="story-container">

  <!-- <div>{{position}}</div> -->
  <div class="grid-container">
    <div class="points">
      <div class="score-container">
        <span class="score">{{storyItem.score}}</span><span class="point-text">
          {{storyItem.score === 1? 'point': 'points'}}</span>
      </div>
    </div>

    <div class="story-domain">
      <a *ngIf="domain" [href]="domain">
        {{domain}}
      </a>
    </div>
    <div class="story-header">
      <a [href]="storyItem.url" class="storyLink">
        {{storyItem.title}}
      </a>
    </div>
    <div class="story-sub-header">
      <div *ngIf="time">
        <img src="assets\icons\baseline-access_time-24px.svg" alt="time showing post creation" height="16px"
          width="16px" />
        <span>{{time}} ago</span>
      </div>
      <div *ngIf="storyItem.by">
        <img src="assets\icons\baseline-account_circle-24px.svg" alt="user who created the post" height="16px"
          width="16px" />
        <span>{{storyItem.by}}</span>
      </div>
      <div *ngIf="storyItem.descendants" class="story-comments">
        <img src="assets\icons\baseline-comment-24px.svg" alt="user who created the post" height="16px" width="16px" />
        <a routerLink="/home/detail/{{storyItem.id}}" [ngPlural]="storyItem.descendants">          
          <ng-template ngPluralCase="=0">No responses</ng-template>
          <ng-template ngPluralCase="=1">{{storyItem.descendants}} response</ng-template>
          <ng-template ngPluralCase="other">{{storyItem.descendants}} responses</ng-template>
        </a>
      </div>
    </div>

  </div>
</mat-card>
<mat-card *ngIf="!storyItem">
  <h1>Loading...</h1>
</mat-card>