// zettle custom font
// Montserrat font
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/raleway-v14-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/raleway-v14-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('/assets/fonts/zilla-slab-v5-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/zilla-slab-v5-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
$raleway: 'Raleway', Arial, Helvetica, sans-serif;
$zilla-slab: 'Zilla Slab', serif;