@import '@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat-palette($mat-purple);
$light-accent:  mat-palette($mat-pink, A400, A200, A700);

// The warn palette is optional (defaults to red).
$light-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$light-story-link: mat-color($light-primary);
$light-story-link-visited: mat-color($light-primary, 300);
$light-menu: mat-color($light-accent, A200);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A400, A200, A700);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-story-link: mat-color($dark-accent);
$dark-story-link-visited: mat-color($dark-accent, A100);
$dark-link: hsl(210, 100%, 87%);
$dark-link-visited: hsl(246, 61%, 90%);
$dark-menu: mat-color($dark-accent, A200);
$main-background:  	hsl(0, 0%, 19%);


$tabWidth: 768px;
$menu-collapse-width: 950px;
