@import '@angular/material/theming';
// Plus imports for other components in your app.
@import 'fonts';
@import 'variables';

html, body {
    background-color: hsl(0, 0%, 19%);
}

// a {       
//     color: $dark-link;    
// }

// a:visited {    
//     color: $dark-link-visited;    
// }

.storyLink {
    color: $dark-story-link;
    &:visited {
        color: $dark-story-link-visited;
    }
}

.score {
    color: $dark-story-link-visited;
}

.storyLink,
.commentLink  {
    color: $dark-story-link;
}

.sideNav {
    color: white;
    background-color: $main-background;
}

.navButtonsSide li {
    a {
        color: white;
        &:hover {
            color: $dark-menu;
        }
    }
}

.user {
    font-weight: bold;
    color: hsl(19, 100%, 86%);
  }

$custom-typography: mat-typography-config($font-family: $raleway);
@include mat-core($custom-typography);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@include angular-material-theme($dark-theme);
