@import '@angular/material/theming';
// Plus imports for other components in your app.
@import 'fonts';
@import 'variables';


.storyLink {
    color: $light-story-link;
    &:visited {
        color: $light-story-link-visited;
    }
}

.score {
    color: mat-color($light-accent);
}

.storyLink,
.commentLink  {
    color: $light-story-link;
}

.sideNav {
    color: white;
    background-color: $main-background;
}

.navButtonsSide li {
    a {
        color: white;
        &:hover {
            color: $light-menu;
        }
    }
}

.user {
    font-weight: bold;
    color: mat-color($light-accent, 700);
  }

.story-domain {
    color: grey;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config($font-family: $raleway);
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);
