
<div *ngFor="let feed of feedItems; let i=index; trackBy: trackByFn" class="list-item">
  <app-story [item]="feed" [feedType]="feedType" [position]="this.start+i+1"></app-story>
</div>

<div>
  <button mat-button color="primary" (click)="moreClick()">More</button>
</div>