.feed-viewport {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
}

.feed-item {
  min-height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  vertical-align: middle;
}

.list-item {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  // border-bottom: 1px solid grey;
}
