<mat-card *ngIf="storyItem" class="sub-story">
  <div class="header">
    <span *ngIf="!storyItem.deleted" class="user">{{storyItem.by}}</span><span *ngIf="storyItem.deleted" class="user">[deleted]</span>
    <span class="dot">.</span>
    <span>{{time}} ago</span>
  </div>
  <div *ngIf="!storyItem.deleted" [innerHTML]="storyItem.text" class="comment-link">
    <!-- {{storyItem.text}} -->
  </div>
  <div *ngIf="storyItem.deleted" class="comment-link">
    This comment is deleted by the user.
  </div>
  <div class="story-comments">
    <a *ngIf="storyItem.kids" routerLink="/home/detail/{{storyItem.id}}">
      {{storyItem.kids?.length}} {{storyItem.kids.length === 1?'response': 'responses'}}
    </a>
  </div>
</mat-card>
<mat-card *ngIf="!storyItem">
  Loading...
</mat-card>