.header {
  padding-bottom: 10px;
  border-bottom: 1px solid green;
}

.dot {
  padding: 0px 5px;
}

.sub-story {
  margin-left: 10px;
  margin-right: 10px;
}

.story-comments {
  padding-top: 10px;
  cursor: pointer;
}

.comment-link {
  word-break: break-word;
  padding-top: 10px;
}
