<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img (click)="toggleSideNav()" class="menuIcon" src="assets\icons\baseline-menu-24px.svg"
            alt="menu hamburger icon" height="32px" width="32px" />
        <h1 routerLink="/home/feed/top">Hacker News</h1>
        <ul class="navButtons">
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/top">Top</a>
            </li>
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/new">New</a>
            </li>
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/best">Best</a>
            </li>
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/ask">Ask</a>
            </li>
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/show">Show</a>
            </li>
            <li routerLinkActive="activeLink-main">
                <a routerLink="/home/feed/job">Job</a>
            </li>
        </ul>
        <span class="example-spacer"></span>
        <div class="main-theme">
            <button (click)="toggleTheme()" mat-icon-button aria-label="Theme switch">
                <img *ngIf="isDarkModeEnabled; else ligthMode" src="assets\icons\wb_sunny-white-24dp.svg"
                    alt="light-theme" />
                <ng-template #ligthMode>
                    <img src="assets\icons\nights_stay-white-24dp.svg" alt="dark-theme" />
                </ng-template>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container #sidenavContainer>
    <mat-sidenav #sidenav mode="over" class="sideNav">
        <ul class="navButtonsSide">
            <li>
                <a routerLink="/home/feed/top" routerLinkActive="activeLink">Top</a>
            </li>
            <li>
                <a routerLink="/home/feed/new" routerLinkActive="activeLink">New</a>
            </li>
            <li>
                <a routerLink="/home/feed/best" routerLinkActive="activeLink">Best</a>
            </li>
            <li>
                <a routerLink="/home/feed/ask" routerLinkActive="activeLink">Ask</a>
            </li>
            <li>
                <a routerLink="/home/feed/show" routerLinkActive="activeLink">Show</a>
            </li>
            <li>
                <a routerLink="/home/feed/job" routerLinkActive="activeLink">Job</a>
            </li>
        </ul>
        <div class="sideNav-theme">
            <button (click)="toggleTheme()" mat-icon-button aria-label="Theme switch">
                <img *ngIf="isDarkModeEnabled; else ligthMode" src="assets\icons\wb_sunny-white-24dp.svg"
                    alt="light-theme" />
                <ng-template #ligthMode>
                    <img src="assets\icons\nights_stay-white-24dp.svg" alt="dark-theme" />
                </ng-template>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-width">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>