@import '../../../styles/variables';

.page-width {
  max-width: $tabWidth;
  margin: auto;
  padding: 16px 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  @media (max-width: #{$menu-collapse-width}) {
    font-size: 1.3rem;
    margin-left: 40px;
  }

  cursor: pointer;
}

h1::after {
  content: ' Material';
  font-size: 0.8rem;
}

.navButtons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: auto;
  @media (max-width: #{$menu-collapse-width}) {
    display: none;
  }
}

.navButtonsSide {
  list-style: none;
  padding: 0;
}

mat-toolbar-row {
  padding-left: 10px;
}

.menuIcon {
  padding-right: 5px;
  cursor: pointer;

  @media (min-width: $menu-collapse-width) {
    display: none;
  }
}

.menuIcon:focus {
  animation: rotate 2s ease-in-out 0s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sideNav {
  @media (min-width: $menu-collapse-width) {
    display: none;
  }
  background-color: white;
  color: #3f51b5;
}

.navButtonsSide li {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  padding: 10px;

  a {
    text-decoration: none;
    color: #3f51b5;
  }

  a:hover {
    color: brown;
  }
}

.navButtons li {
  display: inline;
  padding: 10px;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: $dark-menu;
  }
}

.activeLink-main {
  border-bottom: 5px solid $dark-menu;
}

.activeLink {
  color: $dark-menu;
  border-bottom: 2px solid $dark-menu;
}

.main-theme {
  @media (max-width: #{$menu-collapse-width}) {
    display: none;
  }
}

.sideNav-theme {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}
