<div *ngIf="currentStory">
  <!-- Section for stories -->
  <div class="story-title">
    <mat-card *ngIf="currentStory.type === 'story'">
      <div class="grid-container">
        <div class="points">
          <div class="score-container">
            <span class="score">{{currentStory.score}}</span><span class="point-text"> {{currentStory.score === 1?
              'point': 'points'}}</span>
          </div>
        </div>

        <div class="story-domain">
          <a *ngIf="domain" [href]="domain">
            {{domain}}
          </a>
        </div>
        <div class="story-header">
          <a [href]="currentStory.url" class="storyLink">
            {{currentStory.title}}
          </a>
        </div>
        <div class="story-sub-header">
          <div>
            <img src="assets\icons\baseline-access_time-24px.svg" alt="time showing post creation" height="16px"
              width="16px" />
            <span>{{time}} ago</span>
          </div>
          <div>
            <img src="assets\icons\baseline-account_circle-24px.svg" alt="user who created the post" height="16px"
              width="16px" />
            <span>{{currentStory.by}}</span>
          </div>
          <div *ngIf="currentStory.kids" routerLink="/home/detail/{{currentStory.id}}" class="story-comments">
            <img src="assets\icons\baseline-comment-24px.svg" alt="user who created the post" height="16px"
              width="16px" />
            <span [ngPlural]="currentStory.kids.length">
              <ng-template ngPluralCase="=0">No responses</ng-template>
              <ng-template ngPluralCase="=1">{{currentStory.kids.length}} response</ng-template>
              <ng-template ngPluralCase="other">{{currentStory.kids.length}} responses</ng-template>
            </span>
          </div>
        </div>
      </div>
    </mat-card>
    <!-- Section for comments and their responses -->
    <mat-card *ngIf="currentStory.type === 'comment'">
      <div [innerHTML]="currentStory.text" class="commentLink">

      </div>
      <div class="story-sub-header">
        <div>
          <img src="assets\icons\baseline-access_time-24px.svg" alt="time showing post creation" height="16px"
            width="16px" />
          <span>{{time}} ago</span>
        </div>
        <div>
          <img src="assets\icons\baseline-account_circle-24px.svg" alt="user who created the post" height="16px"
            width="16px" />
          <span>{{currentStory.by}}</span>
        </div>
        <div *ngIf="currentStory.kids" routerLink="/home/detail/{{currentStory.id}}" class="story-comments">
          <img src="assets\icons\baseline-comment-24px.svg" alt="user who created the post" height="16px"
            width="16px" />
            <span [ngPlural]="currentStory.kids.length">
              <ng-template ngPluralCase="=0">No responses</ng-template>
              <ng-template ngPluralCase="=1">{{currentStory.kids.length}} response</ng-template>
              <ng-template ngPluralCase="other">{{currentStory.kids.length}} responses</ng-template>
            </span>
        </div>
      </div>
    </mat-card>
  </div>
  <div *ngFor="let comment of currentStory.kids; trackBy: trackByFn" class="comments">
    <app-sub-story [item]="comment"></app-sub-story>
  </div>
</div>
<div *ngIf="!currentStory">
  Loading...
</div>