@import '../../../../styles/variables';

.storyLink,
.commentLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  word-break: break-word;
}

.storyLink:hover {
  text-decoration: underline;
}

.story-container {
  display: block;
  padding: 10px;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  // grid-template-areas:
  // 'points header'
  // 'points subheader';
  grid-template-columns: 50px auto;
  grid-auto-rows: auto;
  max-width: 100vw;
}

.domain-wrapper {
  display: inline-block;
}

.points {
  // grid-area: points;
  grid-column: 1;
  grid-row: 1 / 4;
  max-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: middle;
  padding-right: 5px;
  border-right: 1px solid grey;
  // font-weight: bold;
  // font-size: 1.2rem;
}

.point-text {
  font-size: 10px;
}

.score {
  font-weight: bold;
  font-size: 1.1rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-domain {
  grid-column: 2;
  grid-row: 1;
  padding: 0px 5px 0px 5px;
  a {
    text-decoration: none;
  }
  @media (max-width: #{$tabWidth - 1px}) {
    font-size: 0.9rem;
  }
}

.story-header {
  // grid-area: header;
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
}

.story-sub-header {
  // grid-area: subheader;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  div {
    min-width: 50px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    align-content: center;
    @media (max-width: #{$tabWidth - 1px}) {
      font-size: 0.8rem;
    }
    img {
      padding-right: 5px;
    }
  }
  // img {
  //     padding-right: 5px;
  // }
  // span {
  //     padding-right: 20px;
  //     @media (max-width: #{$tabWidth - 1px}) {
  //         font-size: 0.8rem;
  //     }
  // }
}

.story-comments {
  cursor: pointer;
}

.comments {
  // margin-left: 10px;
  // margin-right: 10px;
  // padding-top: 20px;
  padding-bottom: 10px;
  // border-bottom: 1px solid grey;
}

.story-title {
  margin-left: 10px;
  margin-right: 10px;
  // padding-top: 20px;
  padding-bottom: 20px;
}
