

@import './styles/fonts';
@import './styles/variables';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './styles/light-theme.scss';


html, body {
    margin: 0;
    padding: 0;    
}
